$my_green  : #3adda2;
$light_green: rgb(0, 255, 110);
$white     : white;
$deep_blue : rgb(31, 35, 45);
$red_pink  : rgb(245, 11, 76);
$my_gray   : rgb(236, 231, 231);
$blue1 : rgb(34, 207, 244);
$blue2 : rgb(21, 175, 203);

@font-face {
	font-family: slim;
	src: url(files/fonts/Neou-Thin.ttf);
}

@mixin button($background, $color, $width, $height, $radius: 5px) {
    border-radius: $radius $radius $radius $radius;
    background-color: $background;
    color: $color;
    width: $width;
    height: $height;
    display: block;
    border: none;
}
@mixin text-input($border-color: $my_green, $border-width: 2px, $width: 130px, $height: 30px) {
    border: $border-width solid $border-color;
    width: $width;
    height: $height;
    border-radius: 3px;
    padding-left: 5px;
    &:focus {
        outline: none;
        transition: 300ms;
        border: 1px solid rgb(34, 207, 244);
        box-shadow: 0 0 3px rgb(21, 175, 203);
    }
}
@mixin textarea {
	outline: none;
	border: 1px solid $my_green;
	&:focus {
        outline: none;
        transition: 300ms;
        border: 1px solid rgb(34, 207, 244);
        box-shadow: 0 0 5px rgb(21, 175, 203);
    }
}
