html
    head
        title Error
        link( rel='stylesheet' href='/style/main.css')
        style(type='text/css').
            * {
                text-align: center;
                font-family: slim;

            }
            body {
                padding-top: 10vh;
            }
    body
        h1(style="font-size: 7vw;color: rgb(236, 18, 103)") Error
        h2(style="font-size: 5vw;")=$code
        h2 Error #{$error}
        h4 Please Contact Admin :
            br
            br
            =getenv('ADMIN_EMAIL')
