doctype html
html
    head
        title Welcome
        link(rel='stylesheet' href='/style/main.css')
        :css
            .welcome {
                font-family: slim;
                text-align: center;
                margin-top: 40vh;
            }
    body
        h1.welcome Welcome!
